{% extends "bootstrap/base.html" %}

{% block navbar %}
    <div class="navbar navbar-fixed-top">
    </div>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <h1> Speak, friend, and enter!</h1>
            <p>
                It's somewhat like Tinder.<br>
                a) you share this with all your friends here on <a href="https://mokum.place">Mokum</a>;<br>
                b) you enter into the form the usernames of some of them you won't mind getting intimate with;<br>
                c) your friends do b) as well;<br>
                d) if there's a match - you both get notified, and, well, can meet and know each other a bit better.<br>
                You can also subscribe to <a href="https://mokum.place/barankas">@barankas</a> to get notifications from
                the service as direct messages.<br>
            </p>
        </div>

        <div class="row">
            <div class="col-md-6">
                <form action="/signup" method="post">
                    <div class="form-group">
                        <label for="inputAPI">
                            Auth via <a href="https://mokum.place/settings/apitokens">Mokum.place API token:</a>
                        </label>
                        <input type="password" name="apikey" class="form-control" id="inputAPI"></input>
                        <button type="submit" class="btn btn-lg btn-primary btn-block">Sign in</button>
                    </div>
                </form>
            </div>
            <div class="col-md-6">
                <img src="static/apikey.png" class="img-rounded">
            </div>
        </div>
        <div class="row">
            <p>Nothing is stored anywhere, everything else is hashed with SHA256.</p>
            <p>No warranties of any kind!</p>
            <p>(c) <a href="https://mokum.place/vadikas">@vadikas</a></p>
        </div>
    </div>
{% endblock %}