<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>  Speak, friend, and enter!</h1>
  <p>
     <img src="static/apikey.png" >
     </p>
 <form action="/signup" method="post">
            <table>
                <tr>
                    <td>Auth via Mokum.place API token:</td><td>
        <input type="password" name="apikey"></input></td></tr>
            <tr>
        <td></td><td><input type="submit" value="Sign in"></input></td>
            </tr>
            </table>

 </form>
<hr>
Nothing is stored anywhere, everything else is hashed with SHA256.<br>
No warranties of course!<br>
(c) vadikas 2015-2017<br>
</body>
</html>