{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "bootstrap/fixes.html" as fixes %}
{% import "bootstrap/utils.html" as util %}


{% block navbar %}
    <div class="navbar navbar-fixed-top">

    </div>
{% endblock %}

{% block content %}

    {{ util.flashed_messages(dismissible=True) }}


    <div class="container">
        <div class="col-md-8">
            <h3>Hi {{ login }}! </h3>

            <p>
                Cooling down a bit :)<br><br>
                I have made changes to the rules:<br>
                Now you get 5 attempts for the first time, 2 attempts for the second time, and only one for the third time. <br>
                There is a 100k seconds (27 hours) timeout after you spend all attempts, so you have time to think and make wise choices. <br>
                After the third batch you won't get new attempts for about a month. <br>
                Each time you get an incoming crush - you'll get one extra attempt to guess it. <br>
                I plan to implement crush revocation soon, stay tuned! <br>
            </p>

            <form action="/guessortry" method="post">
                <div class="form-group">
                    <label for="inputbox">
                        <p>Name your crush: put their username in the box below.<br>
                            If you want to check if you have sent crush to the user, press the "Check!" button.
                        </p>
                    </label>
                    <p>
                    <p><input type="text" name="crush" class="form-control" id="inputbox"></p>
                    <p>
                        <button type="submit" name="submit" value="Go!" class="btn btn-primary ">Go!</button>
                        <button type="submit" name="submit" value="Check!" class="btn btn-primary ">Check!</button>
                    </p>
                </div>
            </form>
        </div>
        <div class="col-md-4">
            <p>
                <strong>Your matched with:</strong>
            <ul class="list-unstyled">
                {% for mutualnames in mutual %}
                    <li>{{ mutualnames }}</li>
                {% endfor %}
            </ul>
            </p>

            <p>
                <strong>You have a crush on:</strong>
            <ul class="list-unstyled">
                {% for sentnames in sent %}
                    <li>{{ sentnames }}</li>
                {% endfor %}
            </ul>
            </p>
        </div>

        <div class="row">
            <div class="col-md-4">
                <p>
                    {% if tries >0 %}
                        <strong>You have
                            <h3>
                                <mark>{{ tries }}</mark>
                            </h3>
                            attempts.</strong>
                    {% else %}
                        <strong>You have no attempts left :(, come back in a couple days.</strong>
                    {% endif %}
                </p>
            </div>
            <div class="col-md-4">
                <p>
                    <strong>You have
                        <h3>
                            <mark>{{ num }}</mark>
                        </h3>
                        crushes.</strong>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <p>
                    <small>If you want to get notifications when somebody has a crush on you, or you have a match --
                        subscribe to <a href="https://mokum.place/barankas">@barankas</a>, the official movdut
                        masсot.
                    </small>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <hr>
                <a href="/logout">log me out, please!</a>
            </div>
        </div>
    </div>
{% endblock %}

{% block head %}
    {{ super() }}
    {{ fixes.ie8() }}
{% endblock %}
