{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "bootstrap/fixes.html" as fixes %}
{% import "bootstrap/utils.html" as util %}


{% block navbar %}
    <div class="navbar navbar-fixed-top">
        <ul class="nav nav-pills">
            <li role="presentation" class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown"
                                                        role="button" aria-haspopup="true" aria-expanded="false">
                Menu
                <here></here>
                <span class="caret"></span> </a>
                <ul class="dropdown-menu">
                    <li><a href="/">Play the game</a></li>
                    <li><a href="/rulez">Game rules</a></li>
{#                    <li><a href="#">Enable/disable notifications</a></li>#}
{#                    <li><a href="#">Delete everything and run away</a></li>#}
                    <li role="separator" class="divider"></li>
                    <li><a href="/logout">Logout</a></li>
                </ul>
            </li>
        </ul>
    </div>
{% endblock %}

{% block content %}

    {{ util.flashed_messages(dismissible=True) }}


    <div class="container">
        <div class="col-md-8">
            <h3>Hi {{ login }}! </h3>

            <p>
                <small> <--- There is menu with rules on the left, and poking and revoking is now working.
                </small>
                <br>

            </p>

            <form action="/guessortry" method="post">
                <div class="form-group">
                    <label for="inputbox">
                        <p>Name your crush -  put their username in the box below.<br>
                            If you want to check if you have sent crush to the user, press the "Check!" button.
                        </p>
                    </label>
                    <p>
                    <p><input type="text" name="crush" class="form-control" id="inputbox"></p>
                    <p>
                        <button type="submit" name="submit" value="Go!" class="btn btn-primary ">Go!</button>
                        <button type="submit" name="submit" value="Check!" class="btn btn-primary ">Check!</button>
                    </p>
                </div>
            </form>
        </div>
        <div class="col-md-4">
            <p>
                <strong>You matched with:</strong>
            <ul class="list-unstyled">
                {% for mutualnames in mutual %}
                    <li>{{ mutualnames }}</li>
                {% endfor %}
            </ul>
            </p>

            <p>
                <strong>You have a crush on:</strong>
            <ul class="list-unstyled">
                {% for sentnames in sent %}
                    <li>
                        <div class="btn-group">
                            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false">
                                {{ sentnames }} <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li><a href="crush/{{ sentnames }}/poke">Poke</a></li>
                                <li><a href="crush/{{ sentnames }}/revoke">Revoke</a></li>
                            </ul>
                        </div>
                    </li>
                {% endfor %}
            </ul>
            </p>
        </div>

        <div class="row">
            <div class="col-md-4">
                <p>
                    {% if tries >0 %}
                        <strong>You have
                            <h3>
                                <mark>{{ tries }}</mark>
                            </h3>
                            attempts.</strong>
                    {% else %}
                        <strong>You have no attempts left :(, come back in a couple days.</strong>
                    {% endif %}
                </p>
            </div>
            <div class="col-md-4">
                <p>
                    <strong>You have
                        <h3>
                            <mark>{{ num }}</mark>
                        </h3>
                        crushes.</strong>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <p>
                    <small>If you want to get notifications when somebody has a crush on you, or you have a match --
                        subscribe to <a href="https://mokum.place/barankas">@barankas</a>, the official movdut
                        masсot.<br>
                        Technical support, complaints, ideas - <a href="https://mokum.place/support/1119465">https://mokum.place/support/1119465</a>
                    </small>
                </p>
            </div>
        </div>
    </div>

{% endblock %}

{% block head %}
    {{ super() }}
    {{ fixes.ie8() }}
{% endblock %}
