{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "bootstrap/fixes.html" as fixes %}
{% import "bootstrap/utils.html" as util %}


{% block navbar %}
    <div class="navbar navbar-fixed-top">

    </div>
{% endblock %}

{% block content %}

    {{ util.flashed_messages(dismissible=True) }}


    <div class="container">
        <div class="col-md-8">
            <h3>Hi {{ login }}! </h3>


            <form action="/guessortry" method="post">
                <div class="form-group">
                    <label for="inputbox">
                        <p>Make a guess - put someone's username comes in the box below.<br>
                            If you want to check if you have sent crush to the user, press the "Check!" button.
                        </p>
                    </label>
                    <p>
                    <p><input type="text" name="crush" class="form-control" id="inputbox"></p>
                    <p><button type="submit" name="submit" value="Go!" class="btn btn-primary ">Go!</button>
                    <button type="submit" name="submit" value="Check!" class="btn btn-primary ">Check!</button>
                    </p>
                </div>
            </form>
        </div>
        <div class="col-md-4">
            <p>
                <strong>Your have mutual crushes with:</strong>
            <ul class="list-unstyled">
                {% for mutualnames in mutual %}
                    <li>{{ mutualnames }}</li>
                {% endfor %}
            </ul>
            </p>

            <p>
                <strong>You sent crushes to:</strong>
            <ul class="list-unstyled">
                {% for sentnames in sent %}
                    <li>{{ sentnames }}</li>
                {% endfor %}
            </ul>
            </p>
        </div>
        <div class="row">
            <div class="col-md-4">
                <p>
                    {% if tries >0 %}
                        <strong>You have
                            <h3>
                                <mark>{{ tries }}</mark>
                            </h3>
                            tries.</strong>
                    {% else %}
                        <strong>You have no tries left :(, come back in a couple  days.</strong>
                    {% endif %}
                </p>
            </div>
            <div class="col-md-4">
                <p>
                    <strong>You have
                        <h3>
                            <mark>{{ num }}</mark>
                        </h3>
                        crushes to guess.</strong>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <p>
                    <small>If you want to get notifications when somebody send you a crush, or you have a match --
                        subscribe to <a href="https://mokum.place/barankas">@barankas</a>, this is official movdut
                        masсot.
                    </small>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <hr>
                <a href="/logout">log me out, please!</a>
            </div>
        </div>
    </div>
{% endblock %}

{% block head %}
    {{ super() }}
    {{ fixes.ie8() }}
{% endblock %}