{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "bootstrap/fixes.html" as fixes %}
{% import "bootstrap/utils.html" as util %}


{% block navbar %}
    <div class="navbar navbar-fixed-top">
        <ul class="nav nav-pills">
            <li role="presentation" class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown"
                                                        role="button" aria-haspopup="true" aria-expanded="false">
                Menu
                <here></here>
                <span class="caret"></span> </a>
                <ul class="dropdown-menu">
                    <li><a href="/">Play the game</a></li>
                    <li><a href="/rulez">Game rules</a></li>
                    {#                    <li><a href="#">Enable/disable notifications</a></li>#}
                    {#                    <li><a href="#">Delete everything and run away</a></li>#}
                    <li role="separator" class="divider"></li>
                    <li><a href="/logout">Logout</a></li>
                </ul>
            </li>
        </ul>
    </div>
{% endblock %}

{% block content %}

    {{ util.flashed_messages(dismissible=True) }}


    <div class="container">
    <div class="col-md-8">
        <h3>Hi {{ login }}! </h3>

        <p>
        <p>
            It's somewhat like Tinder.<br>
            a) you share this with all your friends here on <a href="https://mokum.place">Mokum</a>;<br>
            b) you enter into the form the usernames of some of them you won't mind getting intimate with;<br>
            c) your friends do b) as well;<br>
            d) if there's a match - you both get notified, and, well, can meet and know each other a bit better.<br>
            You can also subscribe to <a href="https://mokum.place/barankas">@barankas</a> to get notifications from
            the service as direct messages.<br>
        </p>
        <p>
            You get 5 attempts for the first time, 2 attempts for the second time, and only one for the
            third
            time. <br>
            There is a 100k seconds (27 hours) timeout after you spend all attempts, so you have time to think
            and
            make wise choices. <br>
            After the third batch you won't get new attempts for about a month. <br>
            Each time you get an incoming crush - you'll get one extra attempt to guess it. <br>
        </p>

        <p>
            You can revoke an used try and convert it back to attempt, but you can do this once a week <br>
            You also can poke user with Poke function but also - once ~a week.
            <br>

        </p>

        <div class="row">
            <div class="col-md-8">
                <p>
                    <small>If you want to get notifications when somebody has a crush on you, or you have a match --
                        subscribe to <a href="https://mokum.place/barankas">@barankas</a>, the official movdut
                        masсot.<br>
                        Technical support, complaints, ideas - <a href="https://mokum.place/support/1119465">https://mokum.place/support/1119465</a>
                    </small>
                </p>
            </div>
        </div>
    </div>


{% endblock %}

{% block head %}
    {{ super() }}
    {{ fixes.ie8() }}
{% endblock %}
